/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #000;
    font-family: Arial, Helvetica, sans-serif;
}

#container {
    display: flex;
    flex-direction: column;
    place-items: center;
    overflow-x: hidden;
}

header {
    width: 100%;
    position: relative;
    background-color: #fff;
    height: 50px;
    z-index: 5;
}

#previewSearch {
    position:absolute;
    width: 45%;
    top:50px;
    left: 55%;
    display:flex;
    height:auto;
    background-color: #1c1c1c; 
    flex-direction:column;
}
#previewSearch a{
    text-decoration:none;
    color:white;
    margin:5px;
}

#previewSearch h2{
    color: lightgrey;
}

#previewSearch img{
    max-width:150px;
    height:auto;
}

#moviePreviewContainer{
    display:flex;
    margin:10px;
    border-bottom: solid 2px lightgrey;
}

.moviePreviewTextContainer{
    display:flex;
    align-items:center;
}

.likes {
    filter: invert(26%) sepia(13%) saturate(3441%) hue-rotate(73deg) brightness(98%) contrast(98%);
    color:black;
}

.dislikes {
    filter: invert(10%) sepia(67%) saturate(6095%) hue-rotate(357deg) brightness(89%) contrast(96%);
    color:black;
}

nav {
    display: grid;
    height: 100%;
    align-items: center;
    grid-template-areas:
        "burger logotype search"
        ". searchResult .";
    grid-template-rows: 1fr;
    grid-template-columns: 15% 25%;
    background-color: #8d1733;
}

#banner {
    background-color: #0e0e0e;
    color: white;
    display: flex;
    flex-direction: column;
    width: 100%;
    z-index: 2;
    position: relative;
}


#bannerPoster {
    max-height: auto;
}

.plot {
    width: 80%;
}

.plot p {
    display: inline;
    margin: 10px;
}

.expandPlot {
    background-color: transparent;
    border: none;
    color: #b6c4f2;
    cursor: pointer;
    margin: 0;
    padding: 0;
    display: inline;
    font-weight: 700;
}

.expandPlot:focus {
    outline: none;
}


.posterContainer{
    position:relative;
    display:block;
    width:100%;
}
.posterContainer img{
    display:block;

    width:100%;
}
.rank {
    position:absolute;
    top: 10px;
    right: 10px;
    background-color: rgb(111 111 111 / 0.80);
    height: 50px;
    width: 50px;
    font-size:30px;
    text-align: center;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: solid 1px #787878
}

.ratings img {
    width: auto;
    max-height: 15px;
    margin: 0px 5px;
}

.ratingContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}


#banner a {
    text-decoration: none;
    color: White;
    font-size: 25px;
    font-weight: 900;

}

#topList {
    background-color: #1c1c1c;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:center;
}

.movieContainer {
    width: 100vw;
    background-color: #1c1c1c;
    overflow:hidden;
    display:flex;
    flex-direction:column;
    border-bottom: solid 2px black;
    margin-bottom: 10px;
    margin-top: 10px;
    align-items:center;
}

.movieContainer a{
    color:white;
    text-decoration:none;
    font-weight:bold;
    font-size: 20px;
}

.icon {
    max-height: 15px;
    width: auto;
}

#c {
    display: flex;
}


input:focus {
    outline: none;
}


footer {
    background-color: red;
    display: flex;
}

    footer a {
        text-decoration: none;
    }




#logo {
    text-decoration: none;
    color: white;
    grid-area: logotype;
}

#burger {
    min-width: 48px;
    height: auto;
    grid-area: burger;
}

#searchContainer {
    grid-area: search;
    display: flex;
    justify-content: right;
}

#searchContainerExpanded {
    display: flex;
    height: 50px;
    background-color: bisque;
    grid-area: burger;
    grid-column: 1 / span 3;
    justify-content: right;
    width: 100%;
}

#searchContainerExpanded form {
    display: block;
    width: 100%;
}

#searchContainerExpanded form input {
    display: block;
    height: 100%;
    background-color: transparent;
    font-size: 25px;
    border: none;
    margin: 0;
    width: 80%;
}

#searchContainer form {
    display: none;
}

#searchContainer img {
    min-width: 36px;
}

#burgermenu {
    position: absolute;
    top: -50px;
    height: 100px;
    width: 100%;
    background-color: black;
    transition: top 0.3s ease-in-out;
    z-index: -1;
}

#burgermenu ul {
    display: flex;
    flex-direction: column;
    height: 100%;
    list-style: none;
    justify-content: space-evenly;
    padding: 0;
    margin: 0 10px;
}

.navlink {
    padding-top: 10px;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}

#navlinks {
    display: none;
}

@media (min-width: 600px) {
    footer {
        background-color: green;
    }
    #banner {
        height: auto;
        width: 75%;
    }
}

@media screen and (min-width: 1000px) {
    footer {
        background-color: greenyellow;
    }

    #burgermenu {
        display: none
    }

    #burger {
        display: none;
    }

    nav {
        grid-template-areas:
            "logotype navlinks search";
        grid-template-columns: 15% 40% 45%;
    }

    #navlinks {
        display: inline;
        grid-area: navlinks;
    }

    #navlinks ul {
        display: flex;
        height: 100%;
        list-style: none;
        justify-content: space-evenly;
        padding: 0;
        margin: 0 10px;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    }

    #searchContainer {
        display: flex;
        height: 50px;
        background-color: bisque;
        justify-content: right;
        width: 100%;
    }

    #searchContainer form {
        display: flex;
        align-items:center;
        width:100%
    }

        

    #searchContainer form input {
        display: inline;
        height: 50%;
        background-color: transparent;
        font-size: 25px;
        border: none;
        margin: 0;
        width: 80%;
    }
}

